https://download.pytorch.org/whl/cpu/torch-1.10.0-cp39-cp39-manylinux1_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.11.1-cp39-cp39-manylinux1_x86_64.whl
Flask==2.0.2
gunicorn==20.1.0
fastai==2.5.3